Repository sentioxyz/sentio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write

feat: commit updated ABI files for typemove 1.11.0 upgrade
  .github/.githooks/pre-commit
  .lintstagedrc
  packages/sdk/src/aptos/abis/0x1.json
  packages/sdk/src/aptos/abis/0x3.json
  packages/sdk/src/aptos/abis/0x4.json
  packages/sdk/src/iota/abis/0x1.json
  packages/sdk/src/iota/abis/0x2.json
  packages/sdk/src/iota/abis/0x3.json
  packages/sdk/src/sui/abis/0x1.json
  packages/sdk/src/sui/abis/0x2.json
  packages/sdk/src/sui/abis/0x3.json
Due: prettier --write

fix: restore pre-commit hook after ABI file commit
  .github/.githooks/pre-commit
Due: none

feat(move): update move related dependencies
  packages/cli/package.json
  packages/cli/src/abi.ts
  packages/sdk/package.json
  packages/sdk/src/aptos/abis/0x1.json
  packages/sdk/src/aptos/codegen/codegen.ts
  packages/sdk/src/aptos/ext/coin-event.test.ts
  packages/sdk/src/aptos/network.ts
  packages/sdk/src/sui/abis/0x1.json
  packages/sdk/src/sui/abis/0x2.json
  packages/sdk/src/sui/abis/0x3.json
  pnpm-lock.yaml
  scripts/build-all.sh
Due: prettier-package-json --write, prettier --write

feat(move): update move related dependencies (#1329)
  packages/cli/package.json
  packages/cli/src/abi.ts
  packages/sdk/package.json
  packages/sdk/src/aptos/abis/0x1.json
  packages/sdk/src/aptos/codegen/codegen.ts
  packages/sdk/src/aptos/ext/coin-event.test.ts
  packages/sdk/src/aptos/network.ts
  packages/sdk/src/sui/abis/0x1.json
  packages/sdk/src/sui/abis/0x2.json
  packages/sdk/src/sui/abis/0x3.json
  pnpm-lock.yaml
  scripts/build-all.sh
Due: prettier-package-json --write, prettier --write

feat(cli): migrate from command-line-args to commander.js
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/run-add.ts
  packages/cli/src/commands/run-compile.ts
  packages/cli/src/commands/run-create.ts
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/commands/run-login.ts
  packages/cli/src/commands/run-test.ts
  packages/cli/src/commands/run-upload.ts
  packages/cli/src/commands/run-version.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  80fe751f3789b7f3339607e89ffc57dbaea6e727
Due: none

feat(cli): upgrade commander.js to v14.0.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

refactor(cli): eliminate duplicate option definitions following Polymer CLI pattern
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/run-add.ts
  packages/cli/src/commands/run-compile.ts
  packages/cli/src/commands/run-create.ts
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/commands/run-login.ts
  packages/cli/src/commands/run-test.ts
  packages/cli/src/commands/run-upload.ts
  packages/cli/src/commands/run-version.ts
  packages/cli/src/index.ts
Due: none

fix: regenerate pnpm lockfile to resolve CI configuration mismatch
  pnpm-lock.yaml
Due: none

fix: update patch file hash to resolve CI patchedDependencies mismatch
  patches/@coral-xyz__anchor@0.30.1.patch
  pnpm-lock.yaml
Due: none

fix: add packageManager field and regenerate lockfile with pnpm@10.14.0 to resolve CI mismatch
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

fix: remove conflicting pnpm version specifications from GitHub workflows
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-sdk.yaml
  .github/workflows/test.yaml
Due: none

improves
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/run-compile.ts
  packages/cli/src/commands/run-create.ts
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/commands/run-upload.ts
  packages/cli/src/config.ts
  packages/cli/src/utils.ts
Due: none

improve
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/run-create.ts
  packages/cli/src/config.ts
Due: none

.
  packages/cli/src/commands/run-create.ts
Due: none

Notes added by 'git notes add'
  e0eb5084631eae8821ecb919fc2555709021eacd
Due: none

feat: replace CSV parser with inline JSON for DexPrice oracle data
  packages/sdk/assets/chainlink-oracles-sepolia.csv
  packages/sdk/assets/chainlink-oracles.csv
  packages/sdk/package.json
  packages/sdk/src/utils/dex-price.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore: trigger CI re-run to test lockfile fix
  .gitignore
Due: none

fix(iota): make sure sui plugin get loaded
  packages/cli/src/commands/run-upload.ts
  packages/sdk/src/iota/iota-plugin.ts
Due: none

fix(iota): make sure sui plugin get loaded (#1332)
  packages/cli/src/commands/run-upload.ts
  packages/sdk/src/iota/iota-plugin.ts
Due: none

Notes added by 'git notes add'
  d8b3fe56c69a5c9094eea650671fafb9684dfa50
Due: none

fix(cli): fix upload command
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/commands/run-test.ts
  packages/cli/src/commands/run-upload.ts
  packages/cli/src/config.ts
Due: none

fix(cli): fix upload command (#1333)
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/commands/run-test.ts
  packages/cli/src/commands/run-upload.ts
  packages/cli/src/config.ts
Due: none

Notes added by 'git notes add'
  ddcf8fbf6d74e9c23cf137c5925a055b8d651ac1
Due: none

chore(move): cleanup codegen intialization
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/execution.ts
  packages/sdk/src/aptos/codegen/codegen.ts
  packages/sdk/src/iota/codegen/codegen.ts
  packages/sdk/src/sui/codegen/codegen.ts
Due: none

chore(cli): cli and code gen message improvements (#1334)
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/run-graph.ts
  packages/cli/src/execution.ts
  packages/sdk/src/aptos/codegen/codegen.ts
  packages/sdk/src/iota/codegen/codegen.ts
  packages/sdk/src/sui/codegen/codegen.ts
Due: none

Notes added by 'git notes add'
  57b23633619ea026b385f85063a97e86929cd6cb
Due: none

chore(config): remove build config in project config
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/compile.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/graph.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/commands/version.ts
  packages/cli/src/config.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
Due: none

chore(config): remove build config in project config (#1335)
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/compile.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/graph.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/commands/version.ts
  packages/cli/src/config.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
Due: none

Notes added by 'git notes add'
  5f95b4b5d4cdc0a227af48ef1244133688fe23aa
Due: none

chore(deps): update fuel packages to version 0.101.3
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(deps): update fuel packages to version 0.101.3 (#1336)
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  9ec7d86ef098b675f2fe839c7207e998cc4b9a63
Due: none

feat(iota): add docs
  packages/sdk/typedoc.json
Due: prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: (any of: *.json) or (any of: *.ts|*.tsx|*.js|*.jsx|*.yml|*.yaml)
