Repository sentioxyz/sentio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write

.lintstagedrc:

{
  "package.json": ["prettier-package-json --write"],
  "*.json": ["prettier --write"],
  "*.ts|*.tsx|*.js|*.jsx|*.yml|*.yaml": ["prettier --write"]
}

Notes added by 'git notes add'
  bd7c01e081bfa99217bb1ad6bf21cb181f207fb8
Due: none

chore(cli): add option to skip processor deletion and validate processor ID format
  packages/cli/src/commands/stop-processor.ts
  packages/cli/src/commands/upload.ts
Due: none

chore(cli): add option to skip processor deletion and validate processor ID format (#33)
  packages/cli/src/commands/stop-processor.ts
  packages/cli/src/commands/upload.ts
Due: none

Notes added by 'git notes add'
  0da6d54e9747dfa10a9485222de6d44b9ea59491
Due: none

feat(cli): add Sentio devnet support (chainID 7892201)
  packages/cli/src/commands/stop-processor.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/config.ts
  packages/cli/src/network.ts
Due: none

feat(cli): add Sentio devnet support (chainID 7892201) (#34)
  packages/cli/src/commands/stop-processor.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/config.ts
  packages/cli/src/network.ts
Due: none

Notes added by 'git notes add'
  b390d955b68942c4b5379dbc366be3291a20155f
Due: none

fix(cli): point devnet config at deployed contracts
  packages/cli/src/network.ts
Due: none

fix(cli): point devnet config at deployed contracts (#35)
  packages/cli/src/network.ts
Due: none

Notes added by 'git notes add'
  b168934d14817667f07d494de69ec66a2c7d1afb
Due: none

chore(cli): point testnet config at redeployed contracts
  packages/cli/src/network.ts
Due: none

chore(cli): bump testnet AB to second redeploy
  packages/cli/src/network.ts
Due: none

chore(cli): point testnet config at redeployed contracts (#36)
  packages/cli/src/network.ts
Due: none

Notes added by 'git notes add'
  c491c6d8996615676c583017fe777afe79daf2ef
Due: none

feat(cli): add --sponsored upload path via Forwarder + ST billing
  packages/cli/src/abi.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/eip712.test.ts
  packages/cli/src/eip712.ts
  packages/cli/src/indexer-rpc.test.ts
  packages/cli/src/indexer-rpc.ts
  packages/cli/src/network.ts
  packages/cli/src/relayer.test.ts
  packages/cli/src/relayer.ts
  packages/cli/src/sponsored.test.ts
  packages/cli/src/sponsored.ts
Due: none

chore(cli): add support for address book override in network configuration
  packages/cli/src/commands/stop-processor.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/network.ts
Due: none

chore(cli): add support for address book override in network configuration (#39)
  packages/cli/src/commands/stop-processor.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/network.ts
Due: none

Notes added by 'git notes add'
  092e7d6508e8ae17dec839c89d8596e99f44d967
Due: none

feat(sui): migrate Sui processor to @typemove 2.0 gRPC
  packages/cli/package.json
  packages/sdk/package.json
  packages/sdk/src/aptos/abis/0x1.json
  packages/sdk/src/aptos/abis/0x3.json
  packages/sdk/src/aptos/abis/0x4.json
  packages/sdk/src/iota/abis/0x2.json
  packages/sdk/src/sui/abis/0x1.json
  packages/sdk/src/sui/abis/0x2.json
  packages/sdk/src/sui/abis/0x3.json
  packages/sdk/src/sui/codegen/codegen.ts
  packages/sdk/src/sui/context.ts
  packages/sdk/src/sui/ext/move-dex.ts
  packages/sdk/src/sui/models.ts
  packages/sdk/src/sui/move-coder.ts
  packages/sdk/src/sui/network.ts
  packages/sdk/src/sui/sui-object-processor-template.ts
  packages/sdk/src/sui/sui-object-processor.ts
  packages/sdk/src/sui/sui-processor.ts
  packages/sdk/src/sui/tests/abis/0x00b53b0f4174108627fbee72e2498b58d6a2714cded53fac537034c220d26302.json
  packages/sdk/src/sui/tests/abis/0x5306f64e312b581766351c07af79c72fcb1cd25147157fdc2f8ad76de9a3fb6a.json
  packages/sdk/src/sui/tests/abis/0xae5e7c832b4a97f2473fcf80fdf2e7ef72bb9d23552bd05d7dd8d428dbb879b9.json
  packages/sdk/src/sui/tests/abis/testnet/0x1e2b124f746a339b3cf99b9f969393a96594519aafb1d06517aacfeeae20e7a5.json
  packages/sdk/src/sui/tests/abis/testnet/0x641dabee5c95ad216ce54c7282e1a4ef36242d81c66431566f8efc6bdc2feda2.json
  packages/sdk/src/sui/tests/abis/testnet/0x755fbd1bb3ab86622abe7e1135b2cd9d34068585f7ac3cfa462a3708142d4adf.json
  packages/sdk/src/sui/tests/abis/testnet/0xaabedac4e8bf60b9f9ca73ffd2ff2bfc0399f27ed9ecba877810490d05f194f9.json
  packages/sdk/src/sui/tests/abis/testnet/0xebaa2ad3eacc230f309cd933958cc52684df0a41ae7ac214d186b80f830867d2.json
  packages/sdk/src/sui/tests/abis/testnet/0xf42bb3557dd14849e869e5668bcad98c6199aa9821a0c8aa12b04b42a3a7ee1e.json
  packages/sdk/src/sui/tests/abis/testnet/bluemove.json
  packages/sdk/src/sui/tests/abis/testnet/wisp.json
  packages/sdk/src/sui/tests/decoding.test.ts
  packages/sdk/src/sui/tests/entry-function.test.ts
  packages/sdk/src/sui/tests/grpc-fixture.ts
  packages/sdk/src/sui/tests/leadingzero.test.ts
  packages/sdk/src/sui/tests/maven.test.ts
  packages/sdk/src/sui/tests/sui-template.test.ts
  packages/sdk/src/sui/tests/sui.test.ts
  packages/sdk/src/sui/utils.ts
  packages/sdk/src/testing/sui-facet.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

fix(sui): generate gRPC-shaped ABIs for v2 codegen
  examples/sui/abis/sui/testnet/0x1e2b124f746a339b3cf99b9f969393a96594519aafb1d06517aacfeeae20e7a5.json
  examples/sui/abis/sui/testnet/0xebaa2ad3eacc230f309cd933958cc52684df0a41ae7ac214d186b80f830867d2.json
  examples/sui/src/processor.ts
  packages/cli/src/abi.ts
Due: prettier --write

fix(sui): convert templates/sui ABIs to gRPC shape
  packages/cli/templates/sui/abis/sui/testnet/0x1e2b124f746a339b3cf99b9f969393a96594519aafb1d06517aacfeeae20e7a5.json
  packages/cli/templates/sui/abis/sui/testnet/0xebaa2ad3eacc230f309cd933958cc52684df0a41ae7ac214d186b80f830867d2.json
  packages/cli/templates/sui/src/processor.ts
Due: prettier --write

refactor(sui): make ctx.client gRPC (drop JSON-RPC client)
  packages/sdk/src/sui/context.ts
  packages/sdk/src/sui/ext/coin.ts
  packages/sdk/src/sui/move-coder.ts
  packages/sdk/src/sui/network.ts
Due: none

test(sui): use committed gRPC fixtures instead of runtime converter
  packages/sdk/src/sui/tests/data/decoding-df1.json
  packages/sdk/src/sui/tests/data/decoding-df2.json
  packages/sdk/src/sui/tests/data/decoding-df3.json
  packages/sdk/src/sui/tests/data/entry-function.json
  packages/sdk/src/sui/tests/data/leadingzero.json
  packages/sdk/src/sui/tests/data/maven.json
  packages/sdk/src/sui/tests/data/sui-template.json
  packages/sdk/src/sui/tests/decoding.test.ts
  packages/sdk/src/sui/tests/entry-function.test.ts
  packages/sdk/src/sui/tests/grpc-fixture.ts
  packages/sdk/src/sui/tests/leadingzero.test.ts
  packages/sdk/src/sui/tests/maven.test.ts
  packages/sdk/src/sui/tests/sui-template.test.ts
Due: prettier --write

test(sui): use authentic gRPC fixtures fetched from archival RPC
  packages/sdk/src/sui/tests/data/leadingzero.json
  packages/sdk/src/sui/tests/data/maven.json
Due: prettier --write

chore(deps): upgrade to @typemove 2.0.2, pnpm 11.3, and OIDC publish
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-sdk.yaml
  .github/workflows/test.yaml
  package.json
  packages/action/package.json
  packages/cli/package.json
  packages/protos/package.json
  packages/runtime/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  7782078f1088173fd7965ba15d7dee84a04898cd
Due: none

fix(ci): disable pnpm 11 pre-command deps verification
  .npmrc
Due: none
