Repository sentioxyz/sentio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write

feat(iota): add docs (#1337)
  packages/sdk/typedoc.json
Due: prettier --write

Notes added by 'git notes add'
  930f019ccae2bc7d26c6431fa5e16bda924b3822
Due: none

fix(fuel): add error handling and logging for transaction and log decoding
  packages/sdk/src/fuel/transaction.ts
Due: none

fix(fuel): add error handling and logging for transaction and log decoding (#1338)
  packages/sdk/src/fuel/transaction.ts
Due: none

fix(fuel): add error handling and logging for transaction and log (#1339)
  packages/sdk/src/fuel/transaction.ts
Due: none

Notes added by 'git notes add'
  590a1defde48a7a91d26ffe16c974129c7a5840c
Due: none

chore(cli): add ai command
  CLAUDE.md
  packages/cli/src/commands/ai.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: none

fix the host
  .gitignore
  packages/cli/src/commands/ai.ts
Due: none

fix
  packages/cli/src/execution.ts
Due: none

fix(entity): implement schema merging functionality in database schema to avoid entity duplication
  packages/sdk/src/core/core-plugin.ts
  packages/sdk/src/core/database-schema.test.ts
  packages/sdk/src/core/database-schema.ts
Due: none

fix(entity): implement schema merging functionality in database schema to avoid entity duplication (#1341)
  packages/sdk/src/core/core-plugin.ts
  packages/sdk/src/core/database-schema.test.ts
  packages/sdk/src/core/database-schema.ts
Due: none

Notes added by 'git notes add'
  6a4c33c783e0c074c639aec828047f23bc308e36
Due: none

try fix
  packages/cli/src/execution.ts
  pnpm-lock.yaml
Due: none

chore(cli): add ai command (#1340)
  .gitignore
  CLAUDE.md
  packages/cli/src/commands/ai.ts
  packages/cli/src/index.ts
Due: none

Notes added by 'git notes add'
  d551176f3bc20e350e38447b0a8adf605d508ad8
Due: none

chore(runtime): revert service-v3 back to apis that be compatible to v2
  packages/protos/processor.proto
  packages/protos/src/processor/protos/processor.ts
  packages/protos/src/service/common/protos/common.ts
  packages/runtime/src/db-context.ts
  packages/runtime/src/full-service.ts
  packages/runtime/src/gen/processor/protos/processor.ts
  packages/runtime/src/gen/service/common/protos/common.ts
  packages/runtime/src/plugin.ts
  packages/runtime/src/service-v3.test.ts
  packages/runtime/src/service-v3.ts
  packages/sdk/src/sui/ext/coin.ts
Due: none

chore(runtime): revert service-v3 back to apis that be compatible to v2 (#1342)
  packages/protos/processor.proto
  packages/protos/src/processor/protos/processor.ts
  packages/protos/src/service/common/protos/common.ts
  packages/runtime/src/db-context.ts
  packages/runtime/src/full-service.ts
  packages/runtime/src/gen/processor/protos/processor.ts
  packages/runtime/src/gen/service/common/protos/common.ts
  packages/runtime/src/plugin.ts
  packages/runtime/src/service-v3.test.ts
  packages/runtime/src/service-v3.ts
  packages/sdk/src/sui/ext/coin.ts
Due: none

Notes added by 'git notes add'
  b0a231c8c799b4d407e14f71c83995f188efa062
Due: none

fix(schema): enhance schema merging to support entity directives and handle duplicates
  packages/sdk/package.json
  packages/sdk/src/core/database-schema.test.ts
  packages/sdk/src/core/database-schema.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

fix(schema): enhance schema merging to support entity directives and … (#1343)
  packages/sdk/package.json
  packages/sdk/src/core/database-schema.test.ts
  packages/sdk/src/core/database-schema.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  caaa3b91c00c91a86360c91a3239cdaba642f6be
Due: none

fix(sdk): update graphql to version 16.11.0 in package.json and pnpm-lock.yaml
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

fix(sdk): update graphql to version 16.11.0 in package.json and pnpm-… (#1344)
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  dd54712ca75c4ec5fdd562454b3da8b792839869
Due: none

fix(bundle): add graphql to external dependencies in bundle and tsup config
  packages/sdk/src/bundle.config.ts
  packages/sdk/src/tsup.config.ts
Due: none

fix(bundle): add graphql to external dependencies in bundle and tsup … (#1346)
  packages/sdk/src/bundle.config.ts
  packages/sdk/src/tsup.config.ts
Due: none

Notes added by 'git notes add'
  6ff6bb0d2cd31d1ba29c4143689903457aa624c6
Due: none

fix(bundle): refine graphql external dependency regex in bundle and tsup config
  packages/sdk/src/bundle.config.ts
  packages/sdk/src/tsup.config.ts
Due: none

fix(bundle): refine graphql external dependency regex in bundle (#1347)
  packages/sdk/src/bundle.config.ts
  packages/sdk/src/tsup.config.ts
Due: none

Notes added by 'git notes add'
  b19809af5d40660d63016fa632a9f358e80a1607
Due: none

fix(CI): add graphql to deps in CI
  .github/workflows/publish-sdk.yaml
Due: none

fix(CI): add graphql to deps in CI (#1348)
  .github/workflows/publish-sdk.yaml
Due: none

Notes added by 'git notes add'
  beb91d275106b67e8bab6f5ee1a6b2f5603b6eeb
Due: none

fix(sdk): remove graphql-tools and use regex to merge schema
  package.json
  packages/sdk/package.json
  packages/sdk/src/core/database-schema.test.ts
  packages/sdk/src/core/database-schema.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

fix(store): remove graphql-tools and use regex to merge schema (#1349)
  package.json
  packages/sdk/package.json
  packages/sdk/src/core/database-schema.test.ts
  packages/sdk/src/core/database-schema.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  9b844c0127c6b24957d715f4c2207e3a212896a8
Due: none

fix the display for multiline messages
  packages/cli/src/commands/ai.ts
Due: none

chore(sdk): package upgrades
  .github/workflows/cut-release.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-sdk.yaml
  .github/workflows/test.yaml
  package.json
  packages/action/package.json
  packages/cli/package.json
  packages/sdk/package.json
  packages/sdk/src/testing/test-processor-server.ts
  packages/sdk/src/testing/test-provider.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: (any of: *.json) or (any of: *.ts|*.tsx|*.js|*.jsx|*.yml|*.yaml)
