Repository sentioxyz/sentio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write

.lintstagedrc:

{
  "package.json": ["prettier-package-json --write"],
  "*.json": ["prettier --write"],
  "*.ts|*.tsx|*.js|*.jsx|*.yml|*.yaml": ["prettier --write"]
}

fix(codegen): update constructor type to accept partial input for entity classes
  packages/sdk/src/store/codegen.ts
Due: none

chore(ts): enable strictFunctionTypes and adopt generic handler signatures
  packages/cli/src/commands/alert.ts
  packages/cli/src/commands/dashboard.ts
  packages/cli/src/commands/data.ts
  packages/cli/src/commands/endpoint.ts
  packages/cli/src/commands/price.ts
  packages/cli/src/commands/processor.ts
  packages/cli/src/commands/project.ts
  packages/cli/src/commands/simulation.ts
  packages/runtime/src/logger.ts
  packages/sdk/src/aptos/aptos-processor.ts
  packages/sdk/src/eth/base-processor-template.ts
  packages/sdk/src/eth/base-processor.ts
  packages/sdk/src/fuel/fuel-processor-template.ts
  packages/sdk/src/iota/iota-processor.ts
  packages/sdk/src/solana/solana-processor.ts
  packages/sdk/src/store/codegen.ts
  packages/sdk/src/store/store.ts
  packages/sdk/src/sui/sui-processor.ts
  packages/sdk/src/testing/memory-database.ts
  tsconfig.json
Due: prettier --write

chore(ts): enable strictFunctionTypes and adopt generic handler signatures (#50)
  packages/cli/src/commands/alert.ts
  packages/cli/src/commands/dashboard.ts
  packages/cli/src/commands/data.ts
  packages/cli/src/commands/endpoint.ts
  packages/cli/src/commands/price.ts
  packages/cli/src/commands/processor.ts
  packages/cli/src/commands/project.ts
  packages/cli/src/commands/simulation.ts
  packages/runtime/src/logger.ts
  packages/sdk/src/aptos/aptos-processor.ts
  packages/sdk/src/eth/base-processor-template.ts
  packages/sdk/src/eth/base-processor.ts
  packages/sdk/src/fuel/fuel-processor-template.ts
  packages/sdk/src/iota/iota-processor.ts
  packages/sdk/src/solana/solana-processor.ts
  packages/sdk/src/store/codegen.ts
  packages/sdk/src/store/store.ts
  packages/sdk/src/sui/sui-processor.ts
  packages/sdk/src/testing/memory-database.ts
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  1a64003755f0a1e6552beafae6d49e98c963c9f2
Due: none

fix(ci): publish sdk-bundle with non-brace files globs
  .github/workflows/publish-sdk.yaml
Due: none

.
  packages/sdk/src/solana/codegen/codegen.ts
Due: none

fix(ci): publish sdk-bundle with non-brace files globs (#52)
  .github/workflows/publish-sdk.yaml
  packages/sdk/src/solana/codegen/codegen.ts
Due: none

Notes added by 'git notes add'
  1aa474a9401a1526eb744424ca8bddabd1c05855
Due: none

fix(lint): honor .gitignore in eslint config to stop OOM on worktrees
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(lint): drop ignores now covered by .gitignore
  eslint.config.mjs
Due: none

fix(lint): honor .gitignore in eslint config to stop OOM (#53)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  5f5516dda7a23930ab87f149869c4ab6be2e7852
Due: none

chore(build): tune lint
  eslint.config.mjs
Due: none

regenerated with newest ts proto
  packages/protos/src/google/protobuf/empty.ts
  packages/protos/src/google/protobuf/struct.ts
  packages/protos/src/google/protobuf/timestamp.ts
  packages/protos/src/google/type/money.ts
  packages/protos/src/processor/protos/processor.ts
  packages/protos/src/service/common/protos/common.ts
  packages/runtime/src/gen/google/protobuf/empty.ts
  packages/runtime/src/gen/google/protobuf/struct.ts
  packages/runtime/src/gen/google/protobuf/timestamp.ts
  packages/runtime/src/gen/google/type/money.ts
  packages/runtime/src/gen/processor/protos/processor.ts
  packages/runtime/src/gen/service/common/protos/common.ts
Due: none

chore(deps): add @bufbuild/protobuf for regenerated proto bindings
  packages/protos/package.json
  packages/runtime/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(deps): upgrade nice-grpc and opentelemetry dependency families
  packages/protos/package.json
  packages/runtime/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(deps): upgrade @typemove to 2.0.3 and drop unused protobufjs
  packages/runtime/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

docs(claude): note typemove upgrades require aligning paired chain SDK
  CLAUDE.md
Due: none

chore(deps): drop unused chainquery proto + protobufjs, align cli iota-sdk
  packages/cli/package.json
  packages/protos/package.json
  packages/protos/src/chainquery/protos/chainquery.ts
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

docs(claude): note cli chain-SDK pins also need typemove alignment
  CLAUDE.md
Due: none

chore(runtime): remove dead chainquery-server flag and chainQueryAPI
  packages/runtime/src/endpoints.ts
  packages/runtime/src/processor-runner-program.ts
Due: none

chore(deps): add @bufbuild/protobuf and upgrade nice-grpc + opentelemetry (#54)
  CLAUDE.md
  eslint.config.mjs
  packages/cli/package.json
  packages/protos/package.json
  packages/protos/src/chainquery/protos/chainquery.ts
  packages/protos/src/google/protobuf/empty.ts
  packages/protos/src/google/protobuf/struct.ts
  packages/protos/src/google/protobuf/timestamp.ts
  packages/protos/src/google/type/money.ts
  packages/protos/src/processor/protos/processor.ts
  packages/protos/src/service/common/protos/common.ts
  packages/runtime/package.json
  packages/runtime/src/endpoints.ts
  packages/runtime/src/gen/google/protobuf/empty.ts
  packages/runtime/src/gen/google/protobuf/struct.ts
  packages/runtime/src/gen/google/protobuf/timestamp.ts
  packages/runtime/src/gen/google/type/money.ts
  packages/runtime/src/gen/processor/protos/processor.ts
  packages/runtime/src/gen/service/common/protos/common.ts
  packages/runtime/src/processor-runner-program.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  b01f66251846528d1d4d89800c23ca6f1c8daa2a
Due: none

docs(agents): share Claude docs and skills
  .claude/skills/.gitkeep
  .codex/skills
  .gemini/skills
  AGENTS.md
  GEMINI.md
Due: none

docs(agents): share Claude docs and skills (#55)
  .claude/skills/.gitkeep
  .codex/skills
  .gemini/skills
  AGENTS.md
  GEMINI.md
Due: none

docs(agents): use project skills directory
  .agents/skills
  .gemini/skills
  GEMINI.md
Due: none

docs(agents): use project skills directory (#56)
  .agents/skills
  .gemini/skills
  GEMINI.md
Due: none

chore(protos): point common-protos codegen at sentio-core
  BUILD.bazel
Due: none

chore(protos): point common-protos codegen at sentio-core (#57)
  BUILD.bazel
Due: none

Notes added by 'git notes add'
  0fbdb27c6da43b6591b533b5ac4fb542ba47d7ed
Due: none

ci(release): set up develop/v3 rc3 prerelease channel
  .github/workflows/publish-sdk.yaml
  packages/action/release.config.cjs
  packages/cli/release.config.cjs
  release.config.js
Due: none

release(major): begin v4
  .github/workflows/publish-sdk.yaml
  packages/action/release.config.cjs
  packages/cli/release.config.cjs
  release.config.js
Due: none

Notes added by 'git notes add'
  03fd5907f81000427cac349a7b19636b04319823
Due: none

release(major): begin v4 (#58)
  .github/workflows/publish-sdk.yaml
  packages/action/release.config.cjs
  packages/cli/release.config.cjs
  release.config.js
Due: none

Notes added by 'git notes add'
  7e17098fe59f028bc2982202306c4f0b181708c2
Due: none

build(release): add repository field to published packages for npm provenance
  packages/action/package.json
  packages/cli/package.json
  packages/protos/package.json
  packages/runtime/package.json
  packages/sdk/package.json
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  2a78357cb6ddb46fa95c830a8687683030b94e27
Due: none
