Repository sentioxyz/sentio-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write

fix(ci): disable pnpm 11 pre-command deps verification (#41)
  .npmrc
Due: none

Notes added by 'git notes add'
  631151de2f2257ff68264f3eccd0dfd5ad199430
Due: none

fix(ci): move verify-deps-before-run=false to pnpm-workspace.yaml
  .npmrc
  pnpm-workspace.yaml
Due: none

chore(repo): drop .npmrc, migrate engineStrict to pnpm-workspace.yaml
  .npmrc
  pnpm-workspace.yaml
Due: none

fix(ci): move verify-deps-before-run=false to pnpm-workspace.yaml (#42)
  .npmrc
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  5a18453aa89ad951cd2d507fb3ddd035c3b82257
Due: none

chore(claude): fix CLAUDE.md staleness and add automation hooks
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: prettier --write

chore(claude): fix CLAUDE.md staleness and add automation hooks (#43)
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: prettier --write

Notes added by 'git notes add'
  643c067ef856256f6d464f91fa6ac77510881720
Due: none

feat(solana): migrate to @anchor-lang/core and @solana/kit
  packages/sdk/package.json
  packages/sdk/src/solana/builtin/index.ts
  packages/sdk/src/solana/builtin/spl-token-2022-processor.ts
  packages/sdk/src/solana/builtin/spl-token-processor.ts
  packages/sdk/src/solana/builtin/types.ts
  packages/sdk/src/solana/codegen/codegen.ts
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/solana-context.ts
  packages/sdk/src/solana/solana-plugin.ts
  packages/sdk/src/solana/solana-processor.ts
  packages/sdk/src/solana/solana-rpc-types.ts
  packages/sdk/src/solana/tests/pyusd-token-2022.ts
  packages/sdk/src/solana/tests/wormhole-token-bridge.ts
  patches/@anchor-lang__core@1.0.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier-package-json --write, prettier --write

chore(solana): drop @anchor-lang/core ESM patch
  patches/@anchor-lang__core@1.0.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert "chore(solana): drop @anchor-lang/core ESM patch"
  patches/@anchor-lang__core@1.0.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(solana): comment why @anchor-lang/core patch is required
  pnpm-workspace.yaml
Due: none

chore(build): opt out of non-load-bearing native install scripts
  pnpm-workspace.yaml
Due: none

docs(build): explain why allowBuilds must enumerate all script-running packages
  pnpm-workspace.yaml
Due: none

test(solana): split Solana tests and add Token-2022 coverage
  packages/sdk/src/solana/tests/pyusd-token-2022.test.ts
  packages/sdk/src/solana/tests/wormhole-token-bridge.test.ts
Due: none

.
  packages/sdk/src/solana/tests/wormhole-token-bridge.ts
Due: none

style(solana): merge duplicate @anchor-lang/core imports in codegen
  packages/sdk/src/solana/codegen/codegen.ts
Due: none

feat(solana): migrate to @anchor-lang/core and @solana/kit (#44)
  packages/sdk/package.json
  packages/sdk/src/solana/builtin/index.ts
  packages/sdk/src/solana/builtin/spl-token-2022-processor.ts
  packages/sdk/src/solana/builtin/spl-token-processor.ts
  packages/sdk/src/solana/builtin/types.ts
  packages/sdk/src/solana/codegen/codegen.ts
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/solana-context.ts
  packages/sdk/src/solana/solana-plugin.ts
  packages/sdk/src/solana/solana-processor.ts
  packages/sdk/src/solana/solana-rpc-types.ts
  packages/sdk/src/solana/tests/pyusd-token-2022.test.ts
  packages/sdk/src/solana/tests/pyusd-token-2022.ts
  packages/sdk/src/solana/tests/wormhole-token-bridge.test.ts
  packages/sdk/src/solana/tests/wormhole-token-bridge.ts
  patches/@anchor-lang__core@1.0.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  e1ea5ec839b195319ab352492e3b83228f2d39a3
Due: none

chore(lint): clear remaining lint warnings
  eslint.config.mjs
  packages/sdk/src/fuel/transaction.ts
Due: none

chore(lint): clear remaining lint warnings (#45)
  eslint.config.mjs
  packages/sdk/src/fuel/transaction.ts
Due: none

Notes added by 'git notes add'
  e62c9c6e83b028b9fe785f7cda40ea09d4bcebe6
Due: none

chore(fuel): upgrade fuels to 0.103.0
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(fuel): upgrade fuels to 0.103.0 (#46)
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  07476cc1d49628edbffe49c8dd5f6be1c7ca9157
Due: none

chore(deps): upgrade TypeScript to 6.0.3
  package.json
  packages/action/tsconfig.json
  packages/cli/templates/aptos/package.json
  packages/cli/templates/aptos/tsconfig.json
  packages/cli/templates/eth/package.json
  packages/cli/templates/eth/tsconfig.json
  packages/cli/templates/fuel/package.json
  packages/cli/templates/fuel/tsconfig.json
  packages/cli/templates/iota/package.json
  packages/cli/templates/iota/tsconfig.json
  packages/cli/templates/raw/package.json
  packages/cli/templates/raw/tsconfig.json
  packages/cli/templates/solana/package.json
  packages/cli/templates/solana/tsconfig.json
  packages/cli/templates/sui/package.json
  packages/cli/templates/sui/tsconfig.json
  packages/cli/tsconfig.json
  packages/protos/tsconfig.json
  packages/runtime/src/db-context.ts
  packages/runtime/src/logger.ts
  packages/runtime/src/processor-runner.ts
  packages/runtime/src/provider.test.ts
  packages/runtime/src/service-v3.test.ts
  packages/runtime/src/service-v3.ts
  packages/runtime/src/service.ts
  packages/runtime/tsconfig.json
  packages/sdk/src/utils/block.ts
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier-package-json --write, prettier --write

chore(cli): drop unneeded strict-flag pins from non-Move templates
  packages/cli/templates/aptos/tsconfig.json
  packages/cli/templates/eth/tsconfig.json
  packages/cli/templates/fuel/tsconfig.json
  packages/cli/templates/iota/tsconfig.json
  packages/cli/templates/raw/tsconfig.json
  packages/cli/templates/solana/tsconfig.json
  packages/cli/templates/sui/tsconfig.json
Due: prettier --write

chore(cli): scope test glob to src/ only
  packages/cli/package.json
  packages/runtime/package.json
  packages/runtime/src/logger.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier-package-json --write, prettier --write

chore(deps): bump tsx to ^4.22.3
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(deps): drop glob package; use tsx native glob in test scripts
  package.json
  packages/action/package.json
  packages/cli/package.json
  packages/runtime/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(deps): upgrade eslint to v10 and related plugins
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write

chore(deps): upgrade TypeScript to 6.0.3 (#47)
  package.json
  packages/action/package.json
  packages/action/tsconfig.json
  packages/cli/package.json
  packages/cli/templates/aptos/package.json
  packages/cli/templates/aptos/tsconfig.json
  packages/cli/templates/eth/package.json
  packages/cli/templates/fuel/package.json
  packages/cli/templates/iota/package.json
  packages/cli/templates/iota/tsconfig.json
  packages/cli/templates/raw/package.json
  packages/cli/templates/solana/package.json
  packages/cli/templates/sui/package.json
  packages/cli/templates/sui/tsconfig.json
  packages/cli/tsconfig.json
  packages/protos/tsconfig.json
  packages/runtime/package.json
  packages/runtime/src/db-context.ts
  packages/runtime/src/logger.ts
  packages/runtime/src/processor-runner.ts
  packages/runtime/src/provider.test.ts
  packages/runtime/src/service-v3.test.ts
  packages/runtime/src/service-v3.ts
  packages/runtime/src/service.ts
  packages/runtime/tsconfig.json
  packages/sdk/package.json
  packages/sdk/src/utils/block.ts
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier-package-json --write, prettier --write

Notes added by 'git notes add'
  9272fc68c0c4ff247e80f12b28ed4a94c167ffcb
Due: none

chore(ts): drop useUnknownInCatchVariables override; narrow catch sites
  packages/cli/src/commands/upload.ts
  packages/cli/src/network.ts
  packages/runtime/src/full-service.ts
  packages/runtime/src/provider.ts
  packages/runtime/src/utils.ts
  packages/sdk/src/core/normalization.ts
  packages/sdk/src/core/partition-handler-manager.ts
  packages/sdk/src/eth/eth.ts
  packages/sdk/src/eth/tests/error-capture.test.ts
  packages/sdk/src/store/decorators.ts
  packages/sdk/src/utils/call.ts
  packages/sdk/src/utils/dex-price.ts
  tsconfig.json
Due: prettier --write

chore(ts): drop useUnknownInCatchVariables override; narrow catch sites (#48)
  packages/cli/src/commands/upload.ts
  packages/cli/src/network.ts
  packages/runtime/src/full-service.ts
  packages/runtime/src/provider.ts
  packages/runtime/src/utils.ts
  packages/sdk/src/core/normalization.ts
  packages/sdk/src/core/partition-handler-manager.ts
  packages/sdk/src/eth/eth.ts
  packages/sdk/src/eth/tests/error-capture.test.ts
  packages/sdk/src/store/decorators.ts
  packages/sdk/src/utils/call.ts
  packages/sdk/src/utils/dex-price.ts
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  2bc6a17ef71103188c3ac55abd0beddd5929c2a4
Due: none

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: (any of: *.json) or (any of: *.ts|*.tsx|*.js|*.jsx|*.yml|*.yaml)
